.jumbotron{
  background-color: #003300;
  color: white;
  text-align: center;
}
#num-form{
  color: white;
  margin-left: 40%;
}
#tbox{
  border-color: #008000;
  height: 25px;
  width: 150px;
}
#submit{
  color: black;
}
body{
  background-color: #003300;
}
hr{
  border-style: dashed;;
  border-width: thick;
}
#paddle{
  float: right;
  margin-right: 10%;
  height: 100px;
  width:100px;

}
#paddle-ball{
  height: 100px;
  width:100px;
  float: left;
  -webkit-transform: rotate(180deg);
  margin-left: 10%;
}
#output{
  color: white;
  margin-left: 10%;
}
